
h1 {
	position: absolute;
	top: 0;
	left: 15px;
	width: 22vw;
	height: 110px;
	text-align: left;
	display: flex;
	margin: 0;
	padding: 0;
	flex-direction: column-reverse;
	font-size: 2.4vw;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

nav > ul {
	position: absolute;
	top: 140px;
	left: 0;
}

section {
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-gap: 2vw;
	grid-template-rows: 1fr;
	grid-template-areas: "nav main";
}

nav {
	grid-area: nav;
}

nav a {
    color: #000;
    text-decoration: none;
    font-size: 13pt;
}

nav a:hover, nav a:focus, nav a[data-highlighted="true"] {
    color: #fff;
    background: #000;
}

nav li {
	padding: 0 15px;
	margin-bottom: 4px;
}

main {
	position: relative;
	top: 140px;
	grid-area: "main";
	padding: 0 1vw;
}

main > ul > li {
	padding-bottom: 45px;
}

ul.group {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 3vw;
}

ul.group li {
	display: block;
	width: 22vw;
	height: 15.25vw;
	background-size: cover;
	background-position: top; 
	position: relative;
}

ul.group-page img {
	position: relative;
	left: 18vw;
	width: 40vw;
	margin-bottom: 5vw;
}

li[data-highlighted="true"] ul.group li:first-child::before {
	content: none;
}

li[data-highlighted="true"] ul.group li::before {
	content: '';
	display: block;
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background: #000;
	top: calc(15.25vw / 2);
	left: -2.3vw;
	transform: translate(-50%, -50%);
}

nav > button {
	position: absolute;
	top: 15px;
	left: 15px;
	display: block;
	width: 50px;
	height: 50px;
	border: none;
	color: rgba(0,0,0,0);
	background: #000;
	border-radius: 25px;
}

@media screen and (max-width: 756px) {

	h1 {
		width: calc(100vw - 30px);
		font-size: 4.4vw;
	}

	nav ul {
		position: absolute;
		overflow-y: scroll;
		display: block;
		width: 100vw;
		height: calc(100vh - 35px);
		top: 75px;
		left: -100vw;
		transition: left 0.5s linear;
		background: #fff;
		z-index: 1;
	}

	nav[data-expanded="true"] ul {
		left: 0;
	}

	ul.group > li {
		width: 30.3vw;
		height: 21vw;
	}

	ul.group-page img {
		width: 100vw;
	}

	li[data-highlighted="true"] ul.group li::before {
		content: none;
	}

	section {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		grid-template-areas: "main";
		position: relative;
		top: 0;
		left: 0;
		padding-top: 140px;
	}

	main {
		top: 0;
		left: 0;
		width: 100vw;
		padding: 0 15px;
		box-sizing: border-box;
	}

	ul.group-page img {
		width: calc(100vw - 30px);
		left: 0;
	}
}